@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  @apply list-disc;
}

.image-picker-container .swiper-slide {
  position: relative;
}

.image-picker-container .swiper-slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}

.image-picker-container .swiper-slide-thumb-active {
  opacity: 1;
}

.image-gallery-picker {
  @apply w-full h-full object-cover overflow-hidden;
}

.image-picker-container .swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}

.PhoneInputCountry {
  @apply !border border-gray-300 !mr-0 !px-2 rounded-l-md;
}

.swiper-container {
  position: relative;
  overflow: hidden; /* Ensures clean clipping */
}

.slide-content {
  height: 100%; /* Make content take full height */
  overflow-y: auto; /* Enable scroll on overflow */
  padding: 16px; /* Optional padding */
  box-sizing: border-box;
}

/* Optional: Ensure smooth scroll appearance */
.slide-content::-webkit-scrollbar {
  width: 8px;
}
.slide-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
